<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.omni.overlay.frameworks"
    android:versionCode="1"
    android:versionName="1.0">
    
    <overlay android:targetPackage="android"
        android:category="android.theme.customization.system_palette"
        android:priority="1" />
        
    <application android:label="OmniROM Framework Overlay" />
</manifest>